ul {
    margin: 0 !important;
    list-style: none !important;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

img {
    width: 100% !important;
}