// GLOBAL
$main-color: #0088CC;
$secondary-color: #FFFFFF;

// BUTTONS
$button-bg-color: #212529;
$button-text-color: #FFFFFF;
$button-border-color: #BFBFBF;

// LABELS
$label-bg-color: #0088CC;
$label-text-color: #FFFFFF;

// BORDERS
$solid-border-color: #EDEDED;
$dotted-border-color: #E2E2E2;
$link-border-color: #EEEEEE;

// TAGS
$tags-bg-color: #212529;
$tags-text-color: #FFFFFF;

// TEXTS
$main-text-color: #212529;
$secondary-text-color: #B7B7B7;
$white-text-color: #FFFFFF;
$link-text-color: #2C9CD5;

//////////////////////////////////////


// HEADER
$top-banner-bg-color: #0088CC;
$top-banner-text-color: #FFFFFF;
$header-bg-color: #FFFFFF;


// JUMBOTRON
$jumbotron-bg-color: #F7F7F7;

// WALL
$calendar-main-color: #212529;
$calendar-secondary-color: #F7F7F7;

// FOOTER
$front-card-bg-color: #0088CC;
$back-card-bg-color: #005580;

$top-footer-bg-color: #212529;
$top-footer-main-text-color: #777777;
$top-footer-secondary-text-color: #B7B7B7;
$top-footer-link-color: #0088CC;

$bottom-footer-bg-color: #1C2023;
$bottom-footer-copyright-color: #444444;
$bottom-footer-main-text-color: #777777;


$footer-main-text-color: #FFFFFF;
$backtotop-bg-color: #373839;
$backtotop-icon-color: #BFBFBF;