// GLOBAL
$main-color: #0088CC;
$secondary-color: #FFFFFF;
$bold-letter-spacing: -0.9px;
$normal-letter-spacing: -0.3px;

// BUTTONS
$button-bg-color: #212529;
$button-text-color: #FFFFFF;
$button-border-color: #BFBFBF;

// BADGES
$badge-bg-color: #0088CC;
$badge-text-color: #FFFFFF;
$badge-border-radius: 2px;
$badge-font-weight: 600;
$badge-font-size: 10px;
$badge-padding: 5px 8px;
$badge-margin-bottom: 7px;

// LABELS
$label-bg-color: #0088CC;
$label-text-color: #FFFFFF;

// BORDERS
$solid-border-color: #EDEDED;
$dotted-border-color: #E2E2E2;
$link-border-color: #EEEEEE;

// WIDE CARDS
$card-title-color: #FFFFFF;
$card-p-color: #888888;
$card-hover-border-color: #F7F7F7;
$card-font-weight: 700;
$card-title-size: 20px;
$card-p-size: 14px;
$card-p-spacing: -1.1px;
$card-p-line-height: 24px;
$card-p-padding-top: 8px;
$card-bg-color: rgba($color: #000000, $alpha: 0.5);
$card-padding: 25px 25px;

// MINIMIZED POST
$mp-title-font-size: 14px;
$mp-title-font-color: #212529;
$mp-title-font-weight: normal;
$mp-title-letter-spacing: -0.6px;
$mp-date-padding-top: 3px;
$mp-date-font-size: 11px;
$mp-date-font-color: #888888;

// MINIMIZED AUTHOR
$ma-author-photo-width: 112px;
$ma-author-photo-height: 112px;
$ma-author-photo-margin: 20px;
$ma-title-font-size: 16px;
$ma-title-font-size: 16px;
$ma-title-font-color: #212529;
$ma-title-font-weight: 700;
$ma-title-padding-top: 9px;

$ma-author-description-padding-top: 10px;
$ma-author-description-font-size: 13px;
$ma-author-description-font-color: #888888;
$ma-author-description-letter-spacing: -0.2px;
$ma-author-description-line-height: 22px;


// TAGS
$tags-bg-color: #212529;
$tags-text-color: #FFFFFF;

// TEXTS
$main-text-color: #212529;
$secondary-text-color: #B7B7B7;
$white-text-color: #FFFFFF;
$link-text-color: #2C9CD5;

// LOGO
$logo-width: 100px;
$logo-padding: 36px 0;

//////////////////////////////////////


// HEADER
$header-bg-color: #FFFFFF;

$top-banner-bg-color: #0088CC;
$top-banner-text-color: #FFFFFF;
$top-banner-padding: 17px 0;
$top-banner-gap: 25px;
$top-banner-font-size: 12px;
$top-links-gap: 25px;

$navbar-text-color: #444444;
$navbar-active-text-color: #0088CC;
$navbar-padding: 18px 0;
$navbar-gap: 50px;
$navbar-font-weight: 700;
$navbar-font-size: 15px;
$navbar-icon-border-left: 1px solid #F7F7F7;
$navbar-icon-font-size: 12px;
$navbar-icon-padding-left: 20px;

// JUMBOTRON
$jumbotron-bg-color: #F7F7F7;
$jumbotron-padding: 50px 0;
$jumbotron-gap: 30px;
$jumbotron-img-row: 3;
$jumbotron-card-height: 250px;

// POST RECAP
$post-recap-padding: 55px 0;

$pr-section-gap: 30px;
$pr-section-columns: 3;
$pr-section-height: 430px;

$pr-title-font-weight: 700;
$pr-title-font-size: 13px;
$pr-title-padding-bottom: 3px;

$pr-li-padding: 15px 0;
$pr-li-bottom-border: 1px dotted #E2E2E2;

$pr-pic-card-wrapper-height: 188px;
$pr-pic-card-wrapper-margin-top: 37px;

$pr-bottom-section-padding: 34px 0 20px 0;

// CATEGORY CHOOSE
$cc-bg-color: #0088CC;
$cc-padding: 50px 0;
$cc-chevron-color: #444444;
$cc-chevron-size: 12px;

// $cc-btn-padding: 17px 0px;
// $cc-btn-font-color: #FFFFFF;
// $cc-btn-font-size: 12px;
// $cc-btn-font-weight: 700;
// $cc-btn-bg-color: #212529;
// $cc-btn-border: none;
// $cc-btn-border-radius: 0px;
// $cc-btn-width: 185px;
// $cc-btn-hover-bg-color: #32383e;

// WALL
$wall-padding: 50px 0;

$calendar-main-color: #212529;
$calendar-secondary-color: #F7F7F7;
$calendar-day-padding: 13px 0 14px;
$calendar-day-font-size: 13px;
$calendar-day-font-weight: 800;
$calendar-month-padding: 3px 0 1px;
$calendar-month-font-size: 9px;
$calendar-month-font-weight: 500;

// FOOTER
$front-card-bg-color: #0088CC;
$back-card-bg-color: #005580;
$front-card-text-color: #FFFFFF;

$top-footer-bg-color: #212529;
$top-footer-white-text-color: #FFFFFF;
$top-footer-main-text-color: #777777;
$top-footer-secondary-text-color: #B7B7B7;
$top-footer-link-color: #0088CC;

$bottom-footer-bg-color: #1C2023;
$bottom-footer-copyright-color: #555555;
$bottom-footer-main-text-color: #777777;

$backtotop-bg-color: #373839;
$backtotop-icon-color: #BFBFBF;